.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff;
}

.navbar-laravel {
    height: 70px;
    border-bottom: 1px solid #a3a3a3;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.index-container {
    max-width: 1300px;
}

.image-index {
    padding: 0;
    height: 400px;
    margin-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;
    
    div {
        color: #fff;
       font-size: 30px;
        text-align: center;
        background-color: none !important;
        margin-top: 90px;
        
    }
}

.jumbotron {
    background-color: none !important;
}

.bike {
    max-width: 1024px;
    margin-top:40px;
    
    .bike-image {
        margin-bottom: 50px;
    }
    .bike-name {
        border-bottom:1px solid #2abd38;
        margin-bottom: 30px;
        font-size:28px;
        padding-bottom: 10px;
      
    }

    .submit {
        border: none;
        display: block;
        width: 100%;
        outline: none;
        text-align: center;
        height: 50px;
        background-color: #2abd38;
        font-weight: bold;
        color:#fff;
        letter-spacing: 5px;
        cursor: pointer;
        line-height: 50px;
    }
    

    .bike-availability {
        
        height: 50px;
        border:1px solid #6c6c6c;
        margin-top: 20px;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
    }

    .pull-right {
       
    }
    .bike-des {
        margin-top: 50px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    .bike-description {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .bike-DriveTrain {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .spec-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .spec-name {
        text-align: center;
        font-weight: bold;
    }

    .secification {
        div {
            text-align: center;
        }
    }
}

footer {
    margin-top:100px;
    background-color: #000;
    color:#fff;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.grid-container {
  /* Grid Fallback */
  grid-template-columns: repeat(auto-fill, minmax(0,500px));
  display: grid;
  justify-content: space-evenly;
}

.bike-card {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    
    
    height: 350px;
    
    display: block;
    
    img {
        max-width: 100%;
        height: auto;
    }

    .bike-card-view {
        display: block;
        max-width: 100px;
        color:#fff;
        background-color: #000;
        text-align: center;
        margin-left: auto;
        
        margin-right: auto;
    }

    .bike-card-name {
        text-align:center;
        margin-top: 20px;
    }
}

.Bike-rented {
    max-width: 500px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
    margin-top: 200px;
    margin-bottom: 100px;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    max-width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    max-width: 100px;
    height: 40px;
    background-color: #aaaaaa;
    font-size:15px;
    float: right;
    display: block;
    opacity: 1 !important;
    border: 1px solid #a4a4a4;
    margin: 5px;
    width: 100px;
    border-radius: 2px;
    color: #fff;
    text-shadow: none !important;
}

.rent {
    float: right;
    width: 100px;
    height: 40px;
    display: block;
    background-color: #2abd38;
    border:none;
    color: #fff;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
}
.terms {
    text-transform: uppercase;
}

.terms-content {
    overflow:auto;
    height: 200px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.admin-form {
    .admin-inputs {
        float: left;
        max-width: 300px;
    }
    padding-top: 20px;
    input[type="text"] {
        display: block;
        height: 40px;
        max-width: 200px;
        margin:5px;
        border-radius: 4px;
        border: solid 1px #6c6c6c;
        padding-left: 20px;
    }
    textarea {
        max-width: 600px;
        display: block;
        height: 310px;
        border-radius: 2px;
        border:1px solid #2abd38;
        margin: 5px;
    }
}

.login {
    margin-top: 80px;
}

.bikes-a {
    margin-bottom: 100px;
    margin-top: 20px;
}