
// Fonts


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// _Custom
@import '_custom';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.jumbotron {
  background-color: none !important;
}
